.app {
  text-align: center;
}

#header {
  margin: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header > button {
  margin-right: 12px;
}

#actions {
  height: 32px;
  line-height: 32px;
  text-align: center;
}

#grid {
  margin-top: 32px;
}

#grid > div {
  margin: 0;
  padding: 0;
}

.column {
  height: 32px;
}
